asgiref==3.7.2
dj-database-url==2.0.0
Django==4.2.2
django-heroku==0.3.1
django-tinymce==3.6.1
gunicorn==21.0.1
psycopg2==2.9.6
python-dotenv==1.0.0
pytz==2023.3
rope==1.8.0
sqlparse==0.4.4
whitenoise==6.5.0
