body {
    background-color: black;
    color: white;
}

.nav a {
    color: white;
}

.material-icons.disabled {
    color: #ffffff4d;
}

.row.new-day {
    border-top: 1px solid #ffffff4d;
}