body {
    background-color: white;
    color: black;
}

.nav a {
    color: black;
}

.material-icons.disabled {
    color: #00000042;
}

.row.new-day {
    border-top: 1px solid #00000042;
}