/* LAYOUT */

body, ul, li, div {
    padding: 0;
    margin: 0;
    border: 0;
}

div {
    box-sizing: border-box;
}

nav {
    min-width: 60%;
    margin: 10px auto;
}

nav li {
    display: inline-block;
    min-width: 200px;
}

nav a {
    display: block;
    height: 50px;
}

nav span {
    vertical-align: middle;
    line-height: 50px;
}

#theme-toggle { 
    float: right;
}

.content {
    position: absolute;
    top: 70px; /* nav */
    bottom: 0;
    width: 100%;
}

.information {
    max-width: 960px;
    margin: 50px auto;
    padding: 0 20px;
}

.schedule {
    margin: 50px 0;
}

.table-container {
    margin: 0 auto;
    max-width: 960px;
}

.flex-table {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 0;
}

.flex-row {
  flex: 1;
}

.flex-row:nth-child(4) {
    margin-left: auto;
}

.container {
    width: 50%;
    height: 100%;
    float: left;
}

.fullwidth {
    width: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.video-16-9 {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
}

.message {
    width: 80%;
    margin: 20px auto;
}

.message span {
    vertical-align: middle;
}

/* TEXT */

body {
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
}

a {
    text-decoration: none;
}

.content a:hover{
    text-decoration: underline;
}

.material-icons {
    font-size: 36px;
    padding: 3px;
}

.material-icons.small {
    font-size: 24px;
    padding: 0;
    vertical-align: middle;
}

.information ul, 
.information p {
    text-align: justify;
}

/* COLOURS */

a:hover,
.information a {
    color: #55aa01;
}

.message.info {
    color: #3434ff;
}

.message.warning,
.message.warning a {
    color: #ff6600;
}

.material-icons.live {
    color: red;
}

/* KICSI */
@media only screen and (max-width: 720px){
    body {
        font-size: 18px;
    }
    nav li {
        min-width: 100px;
    }
    nav .title {
        display: none;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
        height: auto;
    }
    .container.video {
        flex: 1;
    }
    .container.video-16-9 {
        flex: none;
    }
    .container.text {
        flex: 1;
    }
    .flex-row {
        flex: none;
        width: 33.3%;
        line-height: 36px;
    }
}