<div class="nav">
    <a id="theme-toggle" href="#" onclick="javascript:toggleThemes()" title="Világos/sötét színek cseréje"><span class="material-icons">&#xe427;</span></a>
    <ul>
        <li><a href="{% url 'home' %}"><span class="material-icons">&#xe88a;</span><span class="title">Kezdőlap</span></a></li>
        <li><a href="{% url 'search' %}"><span class="material-icons">&#xe8b6;</span><span class="title">Keresés</span></a></li>
        <li><a href="{% url 'info' %}"><span class="material-icons">&#xe88e;</span><span class="title">Információk</span></a></li>
    </ul>
</div>