<div class="schedule">
    <div class="table-container" role="table" aria-label="Közvetítések">
        {% for item in schedule %}
        {% ifchanged item.date %}
        <div class="flex-table row" role="row">
            {{ item.date | date:'F j. (l)' }}
        </div>
        {% endifchanged %}
        <div class="flex-table row {% ifchanged item.date %}new-day{% endifchanged %}" role="row">
            <div class="flex-row" role="cell">
                {{ item.time }}
            </div>
            {%if show_city %}
            <div class="flex-row" role="cell">
                <a href="{% url 'city' item.city_slug %}">{{ item.city_name }}</a>
            </div>
            {% endif %}
            {% if show_location %}
            <div class="flex-row" role="cell">
                <a
                    href="{% url 'city-location' item.city_slug item.location_slug %}">{{ item.location_name }}</a>
            </div>
            {% endif %}
            <div class="flex-row" role="cell">
                {{ item.name }}
            </div>
            <div class="flex-row" role="cell">
                <a href="{% url 'broadcast' hash=item.schedule_hash date=item.date %}">
                    <span class="material-icons {{ item.style }}">&#xe63a;</span>
                </a>
            </div>
        </div>
        {% empty %}
        Nincs ilyen elérhető közvetítés a közeljövőben.
        {% endfor %}
    </div>
</div>