<div class="schedule">
    <div class="table-container"  role="table" aria-label="Közvetítések">
    {% for item in schedule %}
        <div class="flex-table row" role="rowgroup">
            <div class="flex-row" role="cell">
                {{ item.date | date:'F j.' }}
            </div>
            <div class="flex-row" role="cell">
                {{ item.time }}
            </div>
            {% if show_location %}
            <div class="flex-row" role="cell">
               <a href="{% url 'location' item.event.location.slug %}">{{ item.event.location.name }}</a>
            </div>
            {% endif %}
            <div class="flex-row" role="cell">
               {{ item.event.name }}
            </div>
            <div class="flex-row" role="cell">
                {% if item.enabled %}
                    <a href="{% url 'broadcast' hash=item.schedule.hash date=item.date %}"><span class="material-icons {% if item.live %}live{% else %}highlight{% endif %}">&#xe63a;</span></a>
                {% else %}
                    <span class="material-icons disabled">&#xe63a;</span>
                {% endif %}
            </div>
        </div>
    {% empty %}
        Nincs ilyen elérhető közvetítés a közeljövőben.
    {% endfor %}
    </div>
</div>