{% extends "zsolozsma/layout.html" %}
{% block title %}{{ broadcast.event_name }} - {{ broadcast.location_name }}{% endblock %}
{% block content %}

{% if broadcast.video_iframe %}
    <div class="container{% if not broadcast.has_text or not broadcast.text_iframe %}fullwidth{% endif %}">
        {% if broadcast.video_only %}
            <div class="video-16-9">
                <iframe src="{{ broadcast.video_url }}"></iframe>
            </div>
        {% else %}
            <iframe src="{{ broadcast.video_url }}"></iframe>
        {% endif %}
    </div>
{% else %}
        {% include "zsolozsma/snippets/warning.html" with content='A videót nem lehet beágyazni. Ha nem nyílt meg, kattints ide!' link=broadcast.video_url %}
        <script type="text/javascript">
            window.open('{{ broadcast.video_url }}', '_blank', 'noopener');
        </script>
{% endif %}

{% if broadcast.has_text %}
    {% if broadcast.text_iframe %}
        <div class="container {% if not broadcast.video_iframe %}fullwidth{% endif %}">
            <iframe src="{{ broadcast.text_url }}"></iframe>        
        </div>
    {% else %}
        {% include "zsolozsma/snippets/warning.html" with content='A szöveget nem lehet beágyazni. Ha nem nyílt meg, kattints ide!' link=broadcast.text_url %} 
        <script type="text/javascript">
            window.open('{{ broadcast.text_url }}', '_blank', 'noopener');
        </script>
    {% endif %}
{% else %}
    {% include "zsolozsma/snippets/info.html" with content='Ehhez a közvetítéshez nem elérhető szöveg/énekrend.' %} 
{% endif %}

{% endblock %}