{% extends "zsolozsma/broadcast.html" %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
{% endblock %}
{% block content %}
<div class="broadcast 
    {% if broadcast.video_iframe %} with-video{% else %} no-video{%endif%}
    {% if broadcast.video_only %} video-16-9{% endif %}
    {% if broadcast.has_text and broadcast.text_iframe %} with-text{% else %} no-text{% endif %}
">
    <div class="video {% if broadcast.video_iframe %} present{% else %} missing{%endif%}">
        {% if broadcast.video_iframe %}        
            <div class="video-wrapper">
                <iframe src="{{ broadcast.video_embed_url }}" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        {% else %}
            {% include "zsolozsma/snippets/warning.html" with content='A videót nem lehet beágyazni. Ha nem nyílt meg, kattints ide!' link=broadcast.video_link_url %}
            <script type="text/javascript">
                window.open('{{ broadcast.video_link_url }}', '_blank', 'noopener');
            </script>
        {% endif %}
    </div>
    <div class="text {% if broadcast.has_text and broadcast.text_iframe %} present{% else %} missing{% endif %}">
        {% if broadcast.has_text %}
            {% if broadcast.text_iframe %}
                <iframe src="{{ broadcast.text_url }}"></iframe>
            {% else %}
                {% include "zsolozsma/snippets/warning.html" with content='A szöveget nem lehet beágyazni. Ha nem nyílt meg, kattints ide!' link=broadcast.text_url %} 
                <script type="text/javascript">
                    window.open('{{ broadcast.text_url }}', '_blank', 'noopener');
                </script>
            {% endif %}
        {% else %}
            {% include "zsolozsma/snippets/info.html" with content='Ehhez a közvetítéshez nincs szöveg/énekrend.' %} 
        {% endif %}
    </div>
</div>
<script type="text/javascript">setupBroadcastLayout()</script>
{% endblock %}