{% extends "zsolozsma/layout.html" %}
{% block bodyclass %}broadcast-page{% endblock %}
{% block title %}{{ broadcast.event_name }} - {{ broadcast.location_name }}{% endblock %}
{% block ogtitle %}Közvetítés - {{ broadcast.event_name }}{% endblock %}
{% block ogdescription %}{{ broadcast.city_name }}, {{ broadcast.location_name }}{% endblock %}
{% block nav %}
<div class="nav broadcast-title">
    <span class="broadcast-details">{{ broadcast.event_name }} - {{ broadcast.location_name }}</span>
    <span class="broadcast-links">
        <a href="{{ broadcast.video_url }}" title="Videó megnyitása"><span class="material-icons highlight">&#xe04a;</span></a>
        <a href="{% if broadcast.has_text %}{{ broadcast.text_url }}{% else %}#{% endif %}" title="{% if broadcast.has_text %}Szöveg megnyitása{% else %}Nincs szöveg{% endif %}"><span class="material-icons {% if broadcast.has_text %}highlight{% else %}disabled{% endif %}">&#xe02f;</span></a>
    </span>
</div>
{% endblock %}
{% block content %}

<div class="broadcast 
    {% if broadcast.video_iframe %} with-video{% else %} no-video{%endif%}
    {% if broadcast.video_only %} video-16-9{% endif %}
    {% if broadcast.has_text and broadcast.text_iframe %} with-text{% else %} no-text{% endif %}
">
    <div class="video">
        {% if broadcast.video_iframe %}
            <div class="video-wrapper">
                <iframe src="{{ broadcast.video_url }}"></iframe>
            </div>
        {% else %}
            {% include "zsolozsma/snippets/warning.html" with content='A videót nem lehet beágyazni. Ha nem nyílt meg, kattints ide!' link=broadcast.video_url %}
            <script type="text/javascript">
                window.open('{{ broadcast.video_url }}', '_blank', 'noopener');
            </script>
        {% endif %}
    </div>
    <div class="text">
        {% if broadcast.has_text %}
            {% if broadcast.text_iframe %}
                <iframe src="{{ broadcast.text_url }}"></iframe>
            {% else %}
                {% include "zsolozsma/snippets/warning.html" with content='A szöveget nem lehet beágyazni. Ha nem nyílt meg, kattints ide!' link=broadcast.text_url %} 
                <script type="text/javascript">
                    window.open('{{ broadcast.text_url }}', '_blank', 'noopener');
                </script>
            {% endif %}
        {% else %}
            {% include "zsolozsma/snippets/info.html" with content='Ehhez a közvetítéshez nem elérhető szöveg/énekrend.' %} 
        {% endif %}
    </div>
</div>

{% endblock %}