{% extends "zsolozsma/broadcast.html" %}
{% load tz %}
{% block content %}
<div class="broadcast">
    <div class="future-info">
        <p>Ez a közvetítés még nem kezdődött el. {% if state == 1 %}(<a href="{{ request.path }}?mutasd">Megnézem, hátha mégis &raquo;</a>){% endif %}</p>
        <p>A tervezett időpontban ({{ broadcast.starttime_label }}) az oldal automatikusan frissül majd.
        </p>
        
        <p><a id="notification-trigger" href="#" onclick="javascript:toggleNotifications('{{ broadcast.event_name }}')">Értesítsen, ha kezdődik!</a></p>
    </div>
</div>
<script type="text/javascript">
window.zsolozsmaStartTime = new Date({{ broadcast.starttime|utc|date:'U'}}*1000);
refreshAtStart()
</script>
{% endblock %}