{% extends "zsolozsma/layout.html" %}
{% block title %}{{ denomination.name }}{% endblock %}
{% block ogtitle %}Közvetítések - {{ denomination.name }} szertartások{% endblock %}
{% block content %}
<div class="denomination">
    <h1>{{ denomination.name }} szertartások
    {% if editor and user.is_authenticated %}
        {% load admin_urls %}
        &nbsp;<a href="{% url editor.model|admin_urlname:'change' editor.id %}" title="Szerkesztés"><span class="material-icons">&#xe3c9;</span></a>
    {% endif %}
    </h1>
</div>
{% include 'zsolozsma/snippets/schedule.html' with show_city=True show_location=True %}
{% endblock %}