{% extends "zsolozsma/layout.html" %}
{% block title %}Esemény keresése{% endblock %}
{% block content %}
<div class="schedule">
    <table>
    {% for item in schedule %}
        <tr>
            <td>
                {{ item.date }}
            </td>
            <td>
                {{ item.time }}
            </td>
            <td>
               <a href="{% url 'location' item.event.location.slug %}">{{ item.event.location.name }}</a>
            </td>
            <td>
               <a href="{% url 'liturgy' item.event.liturgy.slug %}">{{ item.event.liturgy.name }}</a>
            </td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}