{% extends "zsolozsma/layout.html" %}
{% block title %}Kezdőlap{% endblock %}
{% block content %}
<h1>Közelgő közvetítések</h1>

<div class="schedule">
    <table>
    {% for item in schedule %}
        <tr>
            <td>
                {{ item.date }}
            </td>
            <td>
                {{ item.time }}
            </td>
            <td>
               <a href="{% url 'location' item.event.location.slug %}">{{ item.event.location.name }}</a>
            </td>
            <td>
               {{ item.event.name }} (<a href="{% url 'liturgy' item.event.liturgy.slug %}">{{ item.event.liturgy.name }}</a>)
            </td>
             <td>
                <a href="{% url 'broadcast' hash=item.event.hash date=item.date %}"><span class="material-icons">&#xe63a;</span></a>
             </td>
        </tr>
    {% endfor %}
    </table>
</div>

{% endblock %}