{% extends "zsolozsma/layout.html" %}
{% block title %}Információ{% endblock %}
{% block content %}
<div class="information">
    <h1>Információk</h1>

    <h2>Használati útmutató</h2>
    <p>A kezdőlapon, a keresésben vagy egy helyszín adatlapján láthatók a közelgő közvetítések. A <span class="material-icons disabled small">&#xe63a;</span> ikonnal jelölt közvetítések még vagy már nem elérhetők, a <span class="material-icons highlight small">&#xe63a;</span> jelűeknél hamarosan kezdődik vagy nemrég lett vége, a <span class="material-icons live small">&#xe63a;</span> pedig azt jelenti, hogy valószínűleg éppen élőben megy a videó.</p>
    <p>Bizonyos közvetítéseknél a videó vagy a szöveg nem ágyazható be ide, ilyenkor egy figyelmeztetés látható, a tartalom pedig egy új lapon nyílik meg.</p>

    <h2>Problémák bejelentése</h2>
    <ul>
        <li>Ha hiányzó vagy hibás közvetítést találtál, küldd be <a href="#">itt</a>!</li>
        <li>Ha probléma van a beágyazott YouTube videóddal, ellenőrizd <a href="https://www.youtube.com/features">a beállításaidnál</a>, hogy az Élő videók beágyazása engedélyezve van-e</li>
        <li>Ha programhibát találtál az oldalon, jelentsd be <a href="https://github.com/molnarm/zsolozsma/issues">GitHubon</a>!</li>
    </ul>

    <h2>Impresszum</h2>
    <p>Az oldalt <a href="mailto:molnar.marton+zsolozsma@gmail.com">Molnár Márton</a> készítette 2020-ban.<br />A közvetítési oldalakon megjelenő beágyazott tartalmakért felelősséget nem vállalok.</p>
</div>
{% endblock %}