{% extends "zsolozsma/layout.html" %}
{% block title %}Információ{% endblock %}
{% block content %}
<div class="information">
    <h1>Információk</h1>

    <h2>Jelmagyarázat</h2>
    <p>A listákban a következő három nap közvetítései láthatók:</p>
    <ul class="no-bullets">
        <li><span class="material-icons live small">&#xe63a;</span> = valószínűleg éppen élőben megy a videó</li>
        <li><span class="material-icons highlight small">&#xe63a;</span> = hamarosan kezdődik vagy nemrég lett vége</li>
        <li><span class="material-icons disabled small">&#xe63a;</span> = a közvetítések még vagy már nem elérhetők</li>
    </ul>
    <p>A közvetítéseknél a címsorban a <span class="material-icons highlight small">&#xe04a;</span> a közvetítés, a <span class="material-icons highlight small">&#xe02f;</span> pedig a szöveg eredeti helyére mutató hivatkozás.</p>
    <p>Bizonyos közvetítéseknél a videó vagy a szöveg nem ágyazható be ide, ilyenkor egy figyelmeztetés látható, a tartalom pedig új lapon nyílik meg.</p>

    <h2>Adatok</h2>
    <p>A közvetítések adatai a Magyar Kurír <a href="https://www.magyarkurir.hu/hirek/hol-es-mikor-kovetheto-elo-szentmise-kozvetites-osszegyujtjuk-lehetosegeket">listájából</a> és az egyes közösségek facebook-oldalairól származnak.</p>

    <h2>Problémák bejelentése</h2>
    <ul>
        <li>Ha hiányzó vagy hibás közvetítést találtál, küldd be <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhe8nNAO_u80yTvgb1XD2T8GB-TMC5o8pvC5RLW7rLTa5coA/viewform?usp=sf_link">itt</a>!</li>
        <li>Ha probléma van a beágyazott YouTube videóddal, ellenőrizd <a href="https://www.youtube.com/features">a beállításaidnál</a>, hogy az Élő videók beágyazása engedélyezve van-e</li>
        <li>Ha programhibát találtál az oldalon, jelentsd be <a href="https://github.com/molnarm/zsolozsma/issues">GitHubon</a>!</li>
    </ul>
    <h2>Impresszum</h2>
    <p>Az oldalt <a href="mailto:molnar.marton+zsolozsma@gmail.com">Molnár Márton</a> készítette 2020-ban, a forráskódot <a href="https://github.com/molnarm/zsolozsma">itt</a> találod.<br />A közvetítési oldalakon megjelenő beágyazott tartalmakért felelősséget nem vállalok.</p>
</div>
{% endblock %}