{% extends "zsolozsma/layout.html" %}
{% block title %}Információ{% endblock %}
{% block content %}
<div class="information">
    <h1>Információk</h1>

    <h2>Az oldal használata</h2>
    <p>A listákban a következő három nap közvetítései láthatók (az időpontok magyar időben):</p>
    <ul class="no-bullets">
        <li><span class="material-icons live small">&#xe63a;</span> = valószínűleg éppen élőben megy a videó</li>
        <li><span class="material-icons highlight small">&#xe63a;</span> = hamarosan kezdődik vagy nemrég lett vége</li>
        <li><span class="material-icons disabled small">&#xe63a;</span> = a közvetítés még vagy már nem elérhető</li>
    </ul>
    <p>A közvetítéseknél a címsorban a <span class="material-icons highlight small">&#xe04a;</span> a videó, a <span class="material-icons highlight small">&#xe02f;</span> pedig a szöveg forrására mutató hivatkozás, rájuk kattintva eredeti helyükön láthatod őket.</p>
    <p>Bizonyos közvetítéseknél a videót vagy a szöveget technikai okokból csak külön lapon lehet megjeleníteni, ilyenkor egy figyelmeztetés látható, a tartalom pedig magától megnyílik egy új lapon (ezt néha letiltja a böngésző, ilyenkor "felugró ablakok"-ra figyelmeztet, ezt ki kell kapcsolni).</p>
    <p>Ha nagyobb méretben szeretnéd látni a videót vagy a szöveget, esetleg eltüntetnéd valamelyiket, a kettő közötti elválasztó húzásával átméretezheted őket.</p>
    <p>A sarokban található <span class="material-icons small">&#xe427;</span> ikonnal tudsz a világos és sötét színsémák között váltani.</p>

    <h2>Adatok</h2>
    <p>A közvetítések adatai elsősorban a Magyar Kurír <a href="https://www.magyarkurir.hu/hirek/hol-es-mikor-kovetheto-elo-szentmise-kozvetites-osszegyujtjuk-lehetosegeket">listájából</a>, valamint az egyes közösségek honlapjairól és facebook-oldalairól származnak.<br/>
    A közvetítési oldalakon megjelenő beágyazott tartalmak a szerzőik szellemi tulajdonát képezik, azokért felelősséget nem vállalunk.</p>

    <h2>Problémák bejelentése</h2>
    <ul>
        <li>Ha hiányzó vagy hibás közvetítést találtál, küldd be <a href="https://docs.google.com/forms/d/e/1FAIpQLSfhe8nNAO_u80yTvgb1XD2T8GB-TMC5o8pvC5RLW7rLTa5coA/viewform?usp=sf_link">itt</a>!</li>
        <li>Ha probléma van a beágyazott YouTube videóddal, ellenőrizd a beállításaidnál, hogy az Élő videók beágyazása engedélyezve van-e (<a href="https://support.google.com/youtube/answer/6301625?hl=hu">súgó</a>)</li>
        <li>Ha programhibát találtál az oldalon, jelentsd be <a href="https://github.com/molnarm/liturgia.tv/issues">GitHubon</a>!</li>
    </ul>
    <h2>Impresszum</h2>
    <p>Az oldalt <a href="mailto:webmaster@liturgia.tv">Molnár Márton</a> készítette 2020-ban, a forráskódot <a href="https://github.com/molnarm/liturgia.tv">itt</a> találod.<br /></p>
</div>
{% endblock %}