<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="JQnWoOUVITAhO1R4oTEZFibclRnwG-w_WmeE6ocRjGs" />
    <title>ZsolozsMA - {% block title %}{% endblock %}</title>
    <meta name="description" content="Zsolozsma- és szentmise-közvetítések szöveggel" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet"> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'zsolozsma/style.css' %}"/>
    <link id="css-dark" rel="stylesheet" type="text/css" href="{% static 'zsolozsma/dark.css' %}"/>
    <link id="css-light" rel="stylesheet alternate" type="text/css" href="{% static 'zsolozsma/light.css' %}"/>
    <link rel="icon" href="{% static 'zsolozsma/favicon.png' %}"/>
    <script type="text/javascript" src="{% static 'zsolozsma/js.js' %}"></script>
    <meta property="og:url" content="{{ request.path }}" />
    <meta property="og:locale" content="hu_HU" />
    <meta property="og:title" content="{% block ogtitle %}ZsolozsMA{% endblock %}" />
    <meta property="og:description" content="{% block ogdescription %}Zsolozsma- és miseközvetítések szöveggel{% endblock %}" />
    <meta property="og:image" content="{% static 'zsolozsma/sharing.jpg' %}" />
</head>

<body>
{% block nav %}{% include 'zsolozsma/snippets/nav.html' %}{% endblock %}
<div class="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>