<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="JQnWoOUVITAhO1R4oTEZFibclRnwG-w_WmeE6ocRjGs" />
    <title>Liturgia.TV - {{ liturgy.name }}</title>
    <meta name="description" content="Zsolozsma- és szentmise-közvetítések szöveggel" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet"> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'zsolozsma/style.css' %}"/>
    <link id="css-dark" rel="stylesheet{% if request.COOKIES.theme and request.COOKIES.theme != 'dark' %} alternate{% endif %}" type="text/css" href="{% static 'zsolozsma/dark.css' %}"/>
    <link id="css-light" rel="stylesheet{% if not request.COOKIES.theme or request.COOKIES.theme != 'light' %} alternate{% endif %}" type="text/css" href="{% static 'zsolozsma/light.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'zsolozsma/szoveg.css' %}"/>
    <link rel="icon" href="{% static 'zsolozsma/favicon.png' %}"/>
    <script type="text/javascript" src="{% static 'zsolozsma/js.js' %}"></script>
</head>

<body>
<div class="content">
    {% if editor and user.is_authenticated %}
        {% load admin_urls %}
        <i><a href="{% url editor.model|admin_urlname:'change' editor.id %}" title="Szerkesztés">Szerkesztés &raquo;</a></i>
    {% endif %}
    {{ liturgy.text | safe }}
</div>
</body>
</html>