{% extends "zsolozsma/layout.html" %}
{% block title %}Közvetítések keresése{% endblock %}
{% block content %}
<div class="search">
    <h1>Közvetítések keresése</h1>

    <h2>Szertartások</h2>
    {% for liturgy in liturgies %}
        {% ifchanged liturgy.0 %}
            {% if not forloop.first %}</ul>{% endif %}
            <h3>{{ liturgy.0|default:"Felekezet/rítus nincs megadva" }}</h3>        
            <ul>
        {% endifchanged %}
    <li><a href="{% url 'liturgy' liturgy.2 %}">{{ liturgy.1 }}</a></li>
    {% endfor %}
    </ul>
    <hr />
    <h2>Helyszínek</h2>
    {% for location in locations %}
        {% ifchanged location.0 %}
            {% if not forloop.first %}</ul>{% endif %}
            <h3>{{ location.0|default:"Város nincs megadva" }}</h3>        
            <ul>
        {% endifchanged %}
        <li><a href="{% url 'city-location' location.2 location.3 %}">{{ location.1 }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}